.content{
    margin: 0;
    width: 100vw;
    background-color: color-mix(in srgb, var(--color-secondary) 30%, white);
    background: #98CBFF;
    background: linear-gradient(30deg, rgb(122, 120, 255) 20%, var(--color-secondary) 93%);
}
.login-container{
    background-color: #ffff;
    box-shadow: 0px 15px 16px 4px rgba(0,0,0,0.04);
    border-radius: 15px;
    width: 500px;
    height: 425px;
    padding: 8px 16px;
    padding-top: 108px;
    margin: auto;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    & > i{
        font-size: 110px;
        background-color: var(--color-secondary);
        color: #ffff;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        padding-top: 16px;
        position: absolute;
        top: -34%;
        left: 50%;
        transform: translate(-50%, 50%);
        border: 3px solid #fff;
    }
    margin-top: 11%;
    @media (min-width: 1600px) {
        margin-top: 11%;
    }
}
.inputs-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    h2.sub-titulo{
        margin-bottom: 8px;
    }
    div.input-container{
        width: 90%;
        position: relative;
        color: var(--color-font2);
        cursor: pointer;
        i{
            position: absolute;
            top: 45%;
            right: 2%;
            font-size: 20px;
        }
    }
}
.btn-padrao{
    width: 90%;
    background-color: color-mix(in srgb, var(--color-secondary) 90%, white);
    color: white;
    &:hover{
        background-color: var(--color-secondary);
    }
}
.esqueceu-senha{
    color: var(--color-font2);
    a{
        font-family: "Handlee", cursive;
        font-size: 20px;
        color: color-mix(in srgb, var(--color-secondary) 70%, white);
        transition: .2s;
        text-decoration: none;
        &:hover{
            color: var(--color-secondary);
            text-decoration: underline;
        }
    }
}